@charset "EUC-KR";

body {
    background-color: #f8f9fa;
    color: #495057;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

.table {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: center;
    padding: 12px 15px;
    border-bottom: 1px solid #dee2e6;
}

.table th {
    background-color: #343a40;
    color: #ffffff;
}

.table td {
    color: #495057;
}

.btn-custom {
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-success-custom {
    background-color: #28a745;
    border: none;
    color: white;
}

.btn-danger-custom {
    background-color: #dc3545;
    border: none;
    color: white;
}

.btn-success-custom:hover, .btn-danger-custom:hover {
    background-color: #218838; 
    color: #ffffff;
}

.btn-danger-custom:hover {
    background-color: #c82333; 
}

.chart-container {
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    font-size: 1em;
    margin-bottom: 20px;
    color: #343a40;
    text-align: center;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}

.alert {
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.mt-4 {
    margin-top: 1.5rem;
}
