@charset "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 	font-family: 'Nanum Gothic', sans-serif;
 	font-size : 14px;
}

/* Global Styles */
body {
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

.title {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.form-group {
    margin-bottom: 15px;
}

header {
    color: black;
    padding: 20px 0;
    text-align: right;
}

ul{
	padding: 15px;
}
header nav ul {
	display: flex;
    list-style: none;
}

header nav ul li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
header nav ul li img{
	margin-right: 2px; 
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

.categories {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}

.categories h2 {
    margin-bottom: 20px;
}

.categories ul {
    list-style: none;
}

.categories ul li {
    margin-bottom: 10px;
}

.categories ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.categories ul li a:hover {
    color: #777;
}

.featured {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
    max-width: 100%; 
    overflow-wrap: break-word; 
}
.featured2 {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 0px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
    width: 100%;
    overflow-wrap: break-word; 
}
.featured3 {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 0px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
    width: 100%;
    overflow-wrap: break-word; 
}
.featured4 {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 0px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
    width: 100%;
    overflow-wrap: break-word; 
}
.featured5 {
    /* display: flex; */
    align-items: center;
    justify-content: flex-start; 
    margin-bottom: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 0px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
    width: 100%;
    overflow-wrap: break-word;
    position: relative; 
}

.featured5 .date {
    position: absolute;
    right: 15px;
    top: 10px;
}

.featured5 .bidDate {
    position: absolute;
    right: 15px;
    top: 25px;
}
.featured5 .replyBtns {
	display: flex;
    position: absolute;
    right: 7px;
    top: 35px;
}
.replyContainer{
	display: flex;
}

.content{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #00000026;
}
.featured h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Footer */
footer {
    color: black;
    padding: 20px 0;
    text-align: center;
}
.headerNav{
	display: flex;
	justify-content: space-between;
}
.mainPart{
    background-color: #fff;
    height: 300px;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}
.mainPart img{
	width : 100%;
	height: 100%;
	border-radius: 8px;
	object-fit : cover;
}

.search{
	 background-color: #eee;
	 border: none;
	 padding: 12px 15px;
	 margin: 8px 0;
	 width: 50%;
}
.searchBtn{
	background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 10%;
    cursor: pointer;
    margin-left : 10px;
    border-radius: 5px;
}
.searchBtn:hover {
    background-color: #e040fb;
    color: white;
    font-weight : bold;
}
.searchPart{
	background-color: #b4aed1;
	display: flex;
    padding: 15px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}
.infoModifyImg{
	width:20px;
	object-fit : cover;
}
.allCount{
    background-color: #fff;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}
.categoriesTable{
	display: flex;
	background-color: #fff;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}
.categoriesTable table {
    width: 100%;
    border-collapse: collapse;
}

.categoriesTable th, .categoriesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.categoriesTable td{
	height: 90px;
}

.categoriesTable th {
    background-color: #f2f2f2;
}
.categoriesTable tbody tr:hover {
    background-color: #f5eef8;
}

td img{
	width: 100%;
	height: 80px;
	object-fit: cover;
}
button.button {
    display: block;
    border: none;
    width: 70px;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
    text-decoration-line: none;
    margin-right: 5px;
}


.btnBlueGreen {
	display: block;
    border: none;
    width: 70px;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
    text-decoration-line: none;
    margin-right: 5px;
	background: #5fc099;
}
.btnFade.btnBlueGreen:hover {
	background: #21825B;
}

.replySubmit {
    display: block;
    border: none;
    width: 90px;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
    text-decoration-line: none;
    margin-left: 5px;
}
.btnBlue {
	background: #945fc0;
}
.btnFade.btnBlue:hover {
	background: #624d9d;
}


hr.hr-5 {
	border: 0;
    border-top: 1px solid #9c8484;
   	border-bottom: 1px solid #000000;
}

.featured table {
    width: 100%;
    border-collapse: collapse;
}

.featured th, .featured td {
    border: 1px solid #ddd;
    padding: 8px;
}

.featured th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.featured tbody tr:hover {
    background-color: #f5eef8;
}
.info-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.author-section {
    display: flex;
    align-items: center;
}

.userImg {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author {
    margin-right: 20px;
}

.date {
    flex-shrink: 0;
}



/* Pagination CSS */
.pagination {
	text-align: center;
	margin-top: 20px;
}

.pagination a {
	display: inline-block;
	padding: 5px 10px;
	margin: 2px;
	border: 1px solid #ccc;
	background-color: #fff;
	text-decoration: none;
	color: #333;
	border-radius: 3px;
}

.pagination a:hover {
	background-color: #f5f5f5;
	color: black;
}

.pagination span {
	display: inline-block;
	padding: 5px 10px;
	margin: 2px;
	background-color: #007BFF;
	color: #fff;
	border-radius: 3px;
}

.pagination .current-page {
	font-weight: bold;
}

.pagination a:first-child {
	margin-left: 0;
}

.pagination a:last-child {
	margin-right: 0;
}

.pagination li{
	list-style: none;
	display: inline-block;
}

.pagination .selected-page {
	background-color: #ee5e5e; 
	color: #fff; 
	border-color: #ee5e5e; 
	font-weight: bold;
}

.boardRow {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
ol {
	padding-left: 15px;	
}

.featured img {
    max-width: 100%;
    height: auto;
}

.replyAdd {
	margin-top: 20px;
    border-top: 2px solid #0000003b;
    padding: 5px;
}