@charset "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    color: black;
    padding: 20px 0;
    text-align: right;
}


header nav ul {
	display: flex;
    list-style: none;
}

header nav ul li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
header nav ul li img{
	margin-right: 2px; 
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

.categories {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}

.categories h2 {
    margin-bottom: 20px;
}

.categories ul {
    list-style: none;
}

.categories ul li {
    margin-bottom: 10px;
}

.categories ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.categories ul li a:hover {
    color: #777;
}

.featured {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}

.featured h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Footer */
footer {
    color: black;
    padding: 20px 0;
    text-align: center;
}
.headerNav{
	display: flex;
	justify-content: space-between;
}
.mainPart{
    background-color: #fff;
    height: 300px;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}
.mainPart img{
	width : 100%;
	height: 100%;
	border-radius: 8px;
	object-fit : cover;
}
.serverInfoList{
	background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: -1%;
}
.serverInfoList ul{
  	display: flex;
    flex-wrap: wrap;
	padding: 0;
 	margin: 0;
 	list-style: none;
}
.serverInfoList li{
	padding: 0;
 	margin-right: 10px;
}
.serverInfoList li a {
	color: #333;
    text-decoration: none;
    transition: color 0.3s;
}
.search{
	 background-color: #eee;
	 border: none;
	 padding: 12px 15px;
	 margin: 8px 0;
	 width: 50%;
}
.searchBtn{
	background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 10%;
    cursor: pointer;
    margin-left : 10px;
    border-radius: 5px;
}
.searchBtn:hover {
    background-color: #e040fb;
    color: white;
    font-weight : bold;
}
.searchPart{
	background-color: #b4aed1;
	display: flex;
    padding: 15px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}
.infoModifyImg{
	width:20px;
	object-fit : cover;
}
.allCount{
    background-color: #fff;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}
.contents {
/* 	display: flex;
	align-items: center;
    justify-content: space-between; */
	background-color: #fff;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}
.categoriesTable{
	display: flex;
	align-items: center;
    justify-content: space-between;
	background-color: #fff;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
    font-size: 14px;
    font-weight: bold;
}
.categoriesTable table {
    width: 100%;
    border-collapse: collapse;
}

.categoriesTable th, .categoriesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.categoriesTable td{
	height: 90px;
}

.categoriesTable th {
    background-color: #f2f2f2;
}

.categoriesTable tbody tr:hover {
    background-color: #f5eef8;
}

td img{
	width: 100%;
	height: 80px;
	object-fit: cover;
}
a.button,
button.button,
.btnBlueGreen[type="button"] {
    display: block;
    border: none;
    width: 70px;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
    text-decoration-line: none;
}
.btnBlueGreen {
  background: #00AE68;
}
.btnFade.btnBlueGreen:hover {
  background: #21825B;
}

.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
textarea, .title {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.objectInfo{
	width: 50%;
	padding: 10px;
    box-sizing: border-box;
}
.objectInformation{
	width: 100%;
	padding: 10px;
    box-sizing: border-box;
}
#content textarea {
	width: 920px;
	height:800px;
    max-height: 2000px;
    overflow-y: auto;
    resize: none;
}

#cke_1_contents {
    height: 600px !important;
}
#cke_content{
	margin-bottom : 5px !important;
}
.auctionImg {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}

.auctionImg:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.objectInfo {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 150px; /* Adjust input width */
}

#calendarContainer {
    margin-top: 10px;
}

.select {
  width: 150px;
  height: 35px;
  background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
  background-size: 20px;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  outline: 0 none;
}
.select option {
  background: #b4aed1;
  color: #fff;
  padding: 3px 0;
}