@charset "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 	font-family: 'Nanum Gothic', sans-serif;
 	font-size : 14px;
}

/* Global Styles */
body {
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

header {
    color: black;
    padding: 20px 0;
    text-align: right;
}


header nav ul {
	display: flex;
    list-style: none;
}

header nav ul li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
header nav ul li img{
	margin-right: 2px; 
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

.categories {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}

.categories h2 {
    margin-bottom: 20px;
}

.categories ul {
    list-style: none;
}

.categories ul li {
    margin-bottom: 10px;
}

.categories ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.categories ul li a:hover {
    color: #777;
}

.featured {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    margin-bottom: 1%;
}

.featured h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Footer */
footer {
    color: black;
    padding: 20px 0;
    text-align: center;
}
.headerNav{
	display: flex;
	justify-content: space-between;
}
.mainPart{
    background-color: #fff;
    height: 300px;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}
.mainPart img{
	width : 100%;
	height: 100%;
	border-radius: 8px;
	object-fit : cover;
}
.serverInfoList{
	background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: -1%;
}
.serverInfoList ul{
  	display: flex;
    flex-wrap: wrap;
	padding: 0;
 	margin: 0;
 	list-style: none;
}
.serverInfoList li{
	padding: 0;
 	margin-right: 10px;
}
.serverInfoList li a {
	color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.search{
	 background-color: #eee;
	 border: none;
	 padding: 12px 15px;
	 margin: 8px 0;
	 width: 50%;
}
.searchBtn{
	background-color: #eee;
    border: none;
    padding: 7px;	
    width: 10%;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}
.searchBtn:hover {
    background-color: #e040fb;
    color: white;
    font-weight : bold;
}
.searchPart{
	background-color: #b4aed1;
	display: flex;
    padding: 15px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}
.infoModifyImg{
	width:20px;
	object-fit : cover;
}
.allCount{
    background-color: #fff;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}
.categoriesTable{
	display : flex;
	background-color: #fff;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}

a.button {
    display: block;
    width: 70px;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
    text-decoration-line: none;
    margin-right: 5px;
}
.btnBlueGreen {
	background: #5fc099;
}
.btnFade.btnBlueGreen:hover {
	background: #21825B;
}
.acView1 table {
	border-collapse: collapse;
}
.acView1 th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	background-image: none;
}
.acView1 th {
    background-color: #f2f2f2;
}
.acView1 tbody td {
	width : 60px;
	text-align: center;
	border: #D9CFAD;
	font-size: 12px;
	background-image: none;
}
.acView2 table {
	border-collapse: collapse;
}
.acView2 th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
.acView2 th {
    background-color: #f2f2f2;
}
.acView1{
	display: inline-table;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
.acView2{
	display: inline-table;
	width: 74%;
	table-layout: fixed;
}
.totalPetsView th {
	border: 1px solid #dddddd;
	padding: 5px;
	background-color : #707884;
	color: white;
}
.totalItemsView th {
	border: 1px solid #dddddd;
	padding: 5px;
	background-color : #707884;
	color: white;
}
/* .none {
	border : none;
} */
hr.hr-10 {
	border: 0;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	margin-top : 10px;
}

hr.hr-10:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}
.itemsView{
	display : flex;
}
.itemView1,
.itemView2{
	display: flex;
	justify-content: center;
	width: -webkit-fill-available;
	padding : 10px;
}
.itemView1{
	border-right : 1px solid #d9d9d9;
}
.itemVewi1 td{
	width : 50px;
}
.itemTable1{
	height: fit-content;
}
.itemTable1 td,
.itemTable2 td{
	width: 60px;
	height : 60px;
	background-image: url(/img/itemLayout.png);
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	text-align: center;
	padding: 0px; 
}

.petsView{
	display : flex;
	margin-top: 20px;
}
.petView1,
.petView2{
	width: -webkit-fill-available;
	padding : 10px;
}
.petView1{
	border-right : 1px solid #d9d9d9;
}
.petTable1,
.petTable2{
	width : 70%;
	height: fit-content;
}

.pageBtn {
    position: absolute;
    transform: translateY(-50%);
}

.pageBtn button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    color: #ffffff;
    background-color: #ff69b4;
    cursor: pointer;
    transition: background-color 0.3s;
}

.left-btn {
    left: 30px;
}

.right-btn {
    right: 30px;
}

.pageBtn button:hover {
    background-color: #8d4a9a;
}

@media (max-width: 768px) {
    .pageBtn button {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .left-btn {
        left: 5px;
    }
    .right-btn {
        right: 5px;
    }
}

@media (max-width: 480px) {
    .pageBtn button {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }
    .left-btn {
        left: 3px;
    }
    .right-btn {
        right: 3px;
    }
}
.equipmentItem {
    background-image: url(/img/equipLayout.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60px;
    height: 100px;
}

.equipmentItem td{
	height : 55px;	
	background-image: none;
}
.equipmentItem img{
	width : 40px;
	object-fit: scale-down;
	display: block;
    margin: auto;
    background-image: none;
}

.itemView1,
.itemView2,
.petView1,
.petView2 {
    text-align: center;
}

.itemTable1,
.itemTable2,
.petTable1,
.petTable2 {
    display: inline-block;
}
.itemImage {
    width: 40px;
    height: 40px;
    object-fit: scale-down;
}
.petImage {
	width : 85px;
	height : 100px;
	object-fit: scale-down;
}
.petTotImage {
	width : 85px;
	height : 50px;
	object-fit: scale-down;
}
.itemTotImage {
	width : 50px;
	height : 40px;
	object-fit: scale-down;
}


.tooltipForItem {
    position: relative;
}

.tooltipForItem .tooltipForItemtext {
    visibility: hidden;
    overflow: hidden;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -25%;
    margin-left: -60px;
    /* opacity: 0; */
    transition: opacity 0.3s;
    border: 6px solid #ccc9b9;
    box-shadow: 0 0 0 6px #E8E5D1, 0px 0px 0 8px #00000059;
    font-size: 12px;
    width: 220px;
    height: auto;
    background-color: #7b5f4feb;
    border-radius: 1px;
    padding: 10px;
    
}

.tooltipForItem .tooltipForItemtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2e515bd1 transparent transparent transparent;
}
.featuredTotPetView {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
	padding : 40px;
}

.tooltipForItem:hover .tooltipForItemtext {
    visibility: visible;
    opacity: 1;
}

.tooltipForPet {
    position: relative;
}

.tooltipForPet .tooltipForPettext {
    visibility: hidden;
    overflow: hidden;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -25%;
    margin-left: -60px;
    /* opacity: 0; */
    transition: opacity 0.3s;
    border: 6px solid #ccc9b9;
    box-shadow: 0 0 0 6px #E8E5D1, 0px 0px 0 8px #00000059;
    font-size: 12px;
    width: 250px;
    height: auto;
    background-color: #7b5f4feb;
    border-radius: 1px;
    padding: 10px;
}

.tooltipForPet .tooltipForPettext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2e515bd1 transparent transparent transparent;
}

.tooltipForPet:hover .tooltipForPettext {
    visibility: visible;
    opacity: 1;
}

.bar-container {
    display: flex;
    align-items: center;
}
.bar {
    width: 15px; 
    height: 15px;
}
.bar.earth {
	background-color: green; 
}
.bar.water {
    background-color: #5555de; 
}
.bar.fire {
    background-color: red;
}
.bar.wind {
    background-color: yellow;
}
.acSearchBtns {
	background-color: #eee;
    border: none;
    padding: 7px;	
    width : 100%;
    cursor: pointer;
    border-radius: 5px;
}
.acSearchBtns:hover {
    background-color: #e040fb;
    color: white;
    font-weight : bold;
}
.totalGoldsView {
	display: flex;
	justify-content: end;
	align-items: center;
}
.totalGoldsView img {
	width: 25px;
	height: 30px;
	object-fit: scale-down;
}
.totalGoldsView span {
	margin-right: 10px;
}
.search-input {
    width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.search-btn {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #906b99;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #7238b1;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
}








.sortable {
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}

.sortable::after {
    content: "\25BC\25B2";
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.sortable.asc::after {
    content: "\25B2";
    color: #3200da; 
}

.sortable.desc::after {
    content: "\25BC";
    color: #3200da; 
}
