@charset "EUC-KR";

body {
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}
footer {
    color: black;
    padding: 20px 0;
    text-align: center;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}