@charset "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 	font-family: 'Nanum Gothic', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    font-size : 14px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    color: black;
    padding: 20px 0;
    text-align: right;
}


header nav ul {
	display: flex;
    list-style: none;
}

header nav ul li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
header nav ul li img{
	margin-right: 2px; 
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

.categories {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}

.categories h2 {
    margin-bottom: 20px;
}

.categories ul {
    list-style: none;
}

.categories ul li {
    margin-bottom: 10px;
}

.categories ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.categories ul li a:hover {
    color: #777;
}

.featured {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}

.featured h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Footer */
footer {
    color: black;
    padding: 20px 0;
    text-align: center;
}
.headerNav{
	display: flex;
	justify-content: space-between;
}
.mainPart{
    background-color: #fff;
    height: 300px;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}
.mainPart img{
	width : 100%;
	height: 100%;
	border-radius: 8px;
	object-fit : cover;
}
.serverInfoList{
	background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: -1%;
}
.serverInfoList ul{
  	display: flex;
    flex-wrap: wrap;
	padding: 0;
 	margin: 0;
 	list-style: none;
}
.serverInfoList li{
	padding: 0;
 	margin-right: 10px;
}
.serverInfoList li a {
	color: #333;
    text-decoration: none;
    transition: color 0.3s;
}
.search{
	 background-color: #eee;
	 border: none;
	 padding: 12px 15px;
	 margin: 8px 0;
	 width: 50%;
}
/* .searchBtn {
	background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 10%;
    cursor: pointer;
    margin-left : 10px;
    border-radius: 5px;
} */
.searchBtn:hover {
    background-color: #e040fb;
    color: white;
    font-weight : bold;
}
.searchPart{
	background-color: #b4aed1;
	display: flex;
    padding: 15px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}
.select {
  width: 150px;
  height: 35px;
  background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
  background-size: 20px;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  outline: 0 none;
}
.select option {
  background: #b4aed1;
  color: #fff;
  padding: 3px 0;
}

.cke_notification.cke_notification_warning { display: none; }

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal p{
	display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.modal .reg{
	display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.modalRegDiv{
	display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.modal input[type="text"]{
	margin-left: 10px;
}

.modal a{
	font-weight: bold;
	text-decoration: none;
}

.modal-content {
	background-color: white;
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 600px;
	border-radius: 15px;
}

.closeModal {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.closeModal:hover, .closeModal:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.modal-title{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

hr.hr-5 {
	border: 0;
    border-top: 1px solid #9c8484;
   	border-bottom: 1px solid #000000;
   	margin-bottom: 10px;
}

.acSearchBtn {
	background-color: #eee;
    border: none;
    padding: 12px 15px;
	margin-top: 40px;
    cursor: pointer;
    margin-left : 10px;
    border-radius: 5px;
}
.acSearchBtn:hover {
    background-color: #e040fb;
    color: white;
    font-weight : bold;
}
#sideNavigation {
	width: 60px;
	position: fixed;
	left: 50%;
	margin-left: 500px;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	z-index: 999;
	text-align: center;
}

.mainPart{
    background-color: #fff;
    height: 300px;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
    cursor: pointer;
}
.mainPart img{
	width : 100%;
	height: 100%;
	border-radius: 8px;
	object-fit : cover;
}
.btn {
	width: 100%;
	height: 25%;
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	overflow: hidden;
	text-align: center;
	color: white;
}

.btn img {
	width: 100%;
	height: 70%;
	object-fit: cover;
	border-radius: 10px;
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.game-date-time {
	float: left;
}