@charset "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 	font-family: 'Nanum Gothic', sans-serif;
 	font-size : 14px;
}

/* Global Styles */
body {
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    color: black;
    padding: 20px 0;
    text-align: right;
}


header nav ul {
	display: flex;
    list-style: none;
}

header nav ul li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
header nav ul li img{
	margin-right: 2px; 
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

.categories {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}

.categories h2 {
    margin-bottom: 20px;
}

.categories ul {
    list-style: none;
}

.categories ul li {
    margin-bottom: 10px;
}

.categories ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.categories ul li a:hover {
    color: #777;
}

.featured {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}

.featured h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Footer */
footer {
    color: black;
    padding: 20px 0;
    text-align: center;
}
.headerNav{
	display: flex;
	justify-content: space-between;
}

.serverInfoList{
	background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: -1%;
}
.serverInfoList ul{
  	display: flex;
    flex-wrap: wrap;
	padding: 0;
 	margin: 0;
 	list-style: none;
}
.serverInfoList li{
	padding: 0;
 	margin-right: 10px;
}
.serverInfoList li a {
	color: #333;
    text-decoration: none;
    transition: color 0.3s;
}
.search{
	 background-color: #eee;
	 border: none;
	 padding: 12px 15px;
	 margin: 8px 0;
	 width: 50%;
}
.searchBtn{
	background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 10%;
    cursor: pointer;
    margin-left : 10px;
    border-radius: 5px;
}
.searchBtn:hover {
    background-color: #e040fb;
    color: white;
    font-weight : bold;
}
.searchPart{
	background-color: #b4aed1;
	display: flex;
    padding: 15px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
}
.infoModifyImg{
	width:20px;
	object-fit : cover;
}
.allCount{
    background-color: #fff;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}
.categoriesTable{
	background-color: #fff;
    padding : 1%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5%;
}
.categoriesTable table {
    width: 100%;
    border-collapse: collapse;
}

.categoriesTable th, .categoriesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.categoriesTable td{
	height: 90px;
}

.categoriesTable th {
    background-color: #f2f2f2;
}

.categoriesTable tbody tr:hover {
    background-color: #f5eef8;
}

td img{
	width: 100%;
	height: 80px;
	object-fit: cover;
}
tr{
	cursor : pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.popup-content {
    text-align: center;
    position: relative;
    padding: 20px;
}

.popup-content img {
    max-width: 100%;
    height: auto;
}

.close {
    color: #888;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: color 0.3s ease;
}

.close:hover {
    color: #000;
}
.boardCount {
	font-size: 14px;
	font-weight: bold;
	color: red;
}

