*{
	font-family: 'Nanum Gothic', sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #333;
    font-size: 14px;
}

.container, .container1 {
    max-width: 1000px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    color: white;
    line-height: 1.4;
    margin-bottom: 10px;
}

img {
    max-width: 20%;
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}

img:hover {
    transform: scale(1.1);
}

.wrapper.style1 {
    background: linear-gradient(135deg, #8e44ad, #3498db);
    padding: 100px 0;
    color: #ffffff;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.wrapper.style1::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    animation: float 2s ease-in-out infinite;
}

.wrapper.style1::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    animation: float 2s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.h_text h1 {
    font-size: 14px;
    margin-bottom: 15px;
    background: linear-gradient(90deg, #f39c12, #f1c40f);
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 2s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.h_text p {
    font-size: 14px;
}

.profile {
    background: white;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px; 
    margin-top: -80px; 
    z-index: 100;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.profile:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

.row1 {
    /* display: flex;
    flex-direction: column; */
}

.pm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mp_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mp_list .mp {
    font-size: 14px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.mp_input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.2s ease;
}

.mail-check-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.2s ease;
}


.mp_input:focus {
    border-color: #3498db;
    outline: none;
}

.mail-check-input:focus {
    border-color: #3498db;
    outline: none;
}

.goReg {
    background: linear-gradient(135deg, #e74c3c, #e67e22);
    color: white;
    border: none;
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.3s ease;
}

.emailCertifyNumber,
.checkCertify,
.duplNickNmChk {
    background: linear-gradient(135deg, #e74c3c, #e67e22);
    color: white;
    border: none;
    font-size: 14px;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.3s ease;
    margin-bottom: 10px;
}

.goReg:hover {
    background: linear-gradient(135deg, #c0392b, #d35400);
    transform: translateY(-3px);
}

.emailCertifyNumber:hover {
    background: linear-gradient(135deg, #c0392b, #d35400);
    transform: translateY(-3px);
}

.checkCertify:hover {
    background: linear-gradient(135deg, #c0392b, #d35400);
    transform: translateY(-3px);
}

.duplNickNmChk:hover {
    background: linear-gradient(135deg, #c0392b, #d35400);
    transform: translateY(-3px);
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease;
}

a:hover {
    color: #2980b9;
}

footer {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}

footer p {
    margin: 0;
}

@media (min-width: 768px) {
    /* .row1 {
        flex-direction: row;
        justify-content: space-between;
    } */

    .h_text h1 {
        font-size: 20px;
    }

    .h_text p {
        font-size: 14px;
    }

    .profile {
        padding: 30px; 
    }

}

@media (min-width: 1200px) {
    .h_text h1 {
        font-size: 14px;
    }

    .h_text p {
        font-size: 14px;
    }

    .profile {
        padding: 40px;
    }
}

.checkboxouter{
	margin-bottom: 10px;
}

#loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: white;
  font-size: 20px;
}
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}