@charset "EUC-KR";

@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: 'Nanum Gothic', sans-serif, 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    overflow-x: hidden;
}

.form {
    background-color: #2a2b38;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-size: contain;
}

.form h1 {
    color: #ffeba7;
    font-size: 35px;
    margin-bottom: -19px;
    margin-top: -5px;
    text-align: center;
    letter-spacing: 5px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"] {
    font-size: 0.9em;
    font-weight: 500;
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    transition: all 200ms linear;
    margin-bottom: 20px;
}

input[type="button"] {
    color: #ffffff;
    font-weight: bold;
    background-color: #1f2029;
    border-radius: 4px;
    border: 1px solid #ffffff;
    cursor: pointer;
    padding: 10px 20px;
}

input[type="button"]:hover {
    background-color: #3d4178;
    color: #ffeba7;
}

.rinfo_list {
    color: white;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.insert_info {
    display: block;
    justify-content: space-between;
    color: white;
    font-size: 0.9em;
    margin-bottom: 10px;
}

hr.hr-5 {
    border: 0;
    border-top: 1px solid #ffeba7;
    border-bottom: 1px solid #ffeba7;
}

.regInfo {
    border: 1px solid #ffeba7;
    padding: 15px;
    margin-bottom: 20px;
}

.signup {
    background-color: #ffeba7;
    border: none;
    color: #2a2b38;
    padding: 12px 27px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
}

.signup:hover {
    color: #ffeba7;
    font-weight: bold;
    background: #3d4178;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
    .form {
        width: 70%;
    }

    .form h1 {
        font-size: 30px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        font-size: 1em;
    }

    .signup {
        padding: 10px 20px;
    }

    .insert_info {
        font-size: 1em;
    }

    .rinfo_list {
        font-size: 0.8em;
    }
}

@media (max-width: 768px) {
    .form {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
    }

    .form h1 {
        font-size: 28px;
    }

    .signup {
        padding: 8px 18px;
    }

    .insert_info {
        font-size: 0.9em;
    }

    .rinfo_list {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .form {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
    }

    .form h1 {
        font-size: 24px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        font-size: 0.9em;
    }

    .signup {
        padding: 7px 15px;
        font-size: 14px;
    }

    .insert_info {
        font-size: 0.8em;
    }

    .rinfo_list {
        font-size: 0.7em;
    }
}


#loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: white;
  font-size: 20px;
}
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}